@mixin flexCenter($direction, $background, $color) {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
    color: $color;
}

header {

    @include flexCenter(row, pink, $textColor);

    button {
        background: $primaryBtn;
        &:hover {
            background: rgb(13, 243, 5);
        }
    }
}